<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Game Loop Podcast">
    <meta name="description" content="{{ page.description | default: content | strip_html | truncate: 150 }}">
    <meta name="theme-color" content="#1b8cb5">
    <title>{{ title }} | Game Loop</title>
    <link rel="icon" href="/public/favicon.png">
    <link rel="canonical" href="https://gamelooppodcast.com/{{ page.url }}" />
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <nav class="container">
      <a href="/">
        <img class="site-logo" src="/public/icon.svg" height="32"></img>
        <span>Game Loop</span>
      </a>
    </nav>

    <header class="container">
      <div class="page-title">
        <div class="episode-number">Episode {{ number }}</div>
        <h1 class="episode-title">{{ title }}</h1>
      </div>
      {% if image %}
        <img src="{{ image }}" height="230"></img>
      {% endif %}
    </header>

    <div class="container player">
      [Placeholder for where we'll put the player]
    </div>

    <main class="container content">
      {{ content }}
    </main>

    <footer id="footer" class="container">

    </footer>
  </body>
</html>
